<header>
  <h1>Welcome to this tinyApp</h1>
  <% if (user){ %>
    <h5>Welcome! <%= user.email %></h5>
    <form action="/logout" method="POST">
      <button>logout</button>
    </form>
  <% }else{ %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
</header>
<br>