<header>
  <h1>Welcome to this tinyApp</h1>
  <% if (username){ %>
    <h5>Welcome! <%= username %></h5>
  <% }else{ %>
    <form action="/login" method="POST">
      <input name="username" type="text">
      <button>Login</button>
    </form>
  <% } %>
</header>
<br>