<!DOCTYPE html>

<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ./partials/_header.ejs %>
    <% for (url in urls){ %>
      <p><%= url%>: <a href="#"><%= urls[url]%></a></p>
      <form method="POST" action="/urls/<%= url %>/delete">
        <button>Delete</button>
      </form>
    <% } %>
  </body>
</html>