<!DOCTYPE html>

<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ./partials/_header.ejs %>
    <% for (url in urls){ %>
      <div>
        <%= url%>: <a href="#"><%= urls[url].longURL%></a> &nbsp; 
        <a href="/urls/<%= url%>">Edit</a>
        <form method="POST" action="/urls/<%= url %>/delete" style="display:inline">
          <button>Delete</button>
        </form>
      </div>
    <% } %>
  </body>
</html>