<!DOCTYPE html>

<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ./partials/_header.ejs %>
    <!-- check if shortURL is in the database, if not then tell user it is not found -->
    <% if (longURL.hasOwnProperty(shortURL)) { %>
      <div>
        <h3>ShortURL: <a href="<%= longURL[shortURL]%>"><%= shortURL%></a></h3>
        <form action="/urls/<%= shortURL%>?_method=PUT" method="POST">
          <input name="longURL" value="<%= longURL[shortURL].longURL %>" style="width: 300px;">
          <button>Update</button>
        </form>
      </div>
    <% } else { %>
      <p>Cannot find this shortURL</p>
    <% } %>
  </body>
</html>